<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".image") %></th>
      <th><%= t(".id") %></th>
      <th><%= t(".name") %></th>
      <th><%= t(".url") %></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag(user.image, width: 100) %></td>
        <td><%= user.uid %></td>
        <td><%= user.name %></td>
        <td><%= link_to user.profile_url, user.profile_url, target: :blank %></td>
      </tr>
    <% end %>
  </tbody>
</table>
