<!DOCTYPE html>
<html>
<head>
  <title>Gofriends Admin</title>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'admin/shared/navbar' %>

<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</div>

</body>
</html>
